<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteOne</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd92a7">  <td>14/10/04 21:26:11</td>   <td>0</td> <td title="&gt;&gt;SuiteOneBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@6be46e8f]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f37ef1">  <td>14/10/04 21:26:12</td>   <td>394</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteOneCaseOne.checkCaseToRun()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@6aaa5eb0]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f37ef1">  <td>14/10/04 21:26:12</td>   <td>453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@6aaa5eb0]">SuiteOneCaseOneTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f37ef1">  <td>14/10/04 21:26:23</td>   <td>11246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@6aaa5eb0]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f37ef1">  <td>14/10/04 21:26:23</td>   <td>11249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@6aaa5eb0]">SuiteOneCaseOneTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f37ef1">  <td>14/10/04 21:26:24</td>   <td>12343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@6aaa5eb0]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f37ef1">  <td>14/10/04 21:26:24</td>   <td>12347</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseOne.closeBrowser()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@6aaa5eb0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>14/10/04 21:26:24</td>   <td>12436</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteOneCaseTwo.checkCaseToRun()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@6be46e8f]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>14/10/04 21:26:24</td>   <td>12552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseTwo.SuiteOneCaseTwoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@6be46e8f]">SuiteOneCaseTwoTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>14/10/04 21:26:30</td>   <td>19114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@6be46e8f]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>14/10/04 21:26:30</td>   <td>19116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseTwo.SuiteOneCaseTwoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@6be46e8f]">SuiteOneCaseTwoTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>14/10/04 21:26:31</td>   <td>19663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@6be46e8f]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>14/10/04 21:26:31</td>   <td>19665</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseTwo.closeBrowser()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@6be46e8f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>14/10/04 21:26:31</td>   <td>19680</td> <td title="&gt;&gt;SuiteTwoBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@34b7bfc0]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>14/10/04 21:26:31</td>   <td>19688</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteTwoCaseOne.checkCaseToRun()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@1936f0f5]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>14/10/04 21:26:31</td>   <td>19692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseOne.SuiteTwoCaseOneTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@1936f0f5]">SuiteTwoCaseOneTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>14/10/04 21:26:36</td>   <td>24497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@1936f0f5]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>14/10/04 21:26:36</td>   <td>24499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseOne.SuiteTwoCaseOneTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@1936f0f5]">SuiteTwoCaseOneTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>14/10/04 21:26:36</td>   <td>25054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@1936f0f5]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>14/10/04 21:26:36</td>   <td>25056</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseOne.closeBrowser()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@1936f0f5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>14/10/04 21:26:36</td>   <td>25065</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteTwoCaseTwo.checkCaseToRun()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@34b7bfc0]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>14/10/04 21:26:36</td>   <td>25075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseTwo.SuiteTwoCaseTwoTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@34b7bfc0]">SuiteTwoCaseTwoTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>14/10/04 21:26:41</td>   <td>29853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@34b7bfc0]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>14/10/04 21:26:41</td>   <td>29855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseTwo.SuiteTwoCaseTwoTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@34b7bfc0]">SuiteTwoCaseTwoTest</td> 
  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>14/10/04 21:26:42</td>   <td>30423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@34b7bfc0]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>14/10/04 21:26:42</td>   <td>30426</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseTwo.closeBrowser()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@34b7bfc0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@55909012</td>   <td></td> </tr>
</table>
