<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmokeTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe5e8">  <td>15/02/24 13:39:09</td>   <td>0</td> <td title="&gt;&gt;SmokeTestBase.checkSuiteToRun()[pri:0, instance:com.samsiphone.SmokeTest.Checkout@6537cf78]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>15/02/24 13:39:10</td>   <td>262</td> <td>&nbsp;</td><td title="&gt;&gt;HomeScreen.before()[pri:0, instance:com.samsiphone.SmokeTest.HomeScreen@6108b2d7]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>15/02/24 13:41:07</td>   <td>117988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeScreen.NotSigned()[pri:0, instance:com.samsiphone.SmokeTest.HomeScreen@6108b2d7]">NotSigned</td> 
  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>15/02/24 13:41:48</td>   <td>158443</td> <td>&nbsp;</td><td title="&lt;&lt;HomeScreen.after()[pri:0, instance:com.samsiphone.SmokeTest.HomeScreen@6108b2d7]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>15/02/24 13:41:50</td>   <td>160895</td> <td>&nbsp;</td><td title="&gt;&gt;Login.before()[pri:0, instance:com.samsiphone.SmokeTest.Login@2d554825]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>15/02/24 13:42:17</td>   <td>187071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Signin()[pri:0, instance:com.samsiphone.SmokeTest.Login@2d554825]">Signin</td> 
  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>15/02/24 13:42:19</td>   <td>189720</td> <td>&nbsp;</td><td title="&lt;&lt;Login.after()[pri:0, instance:com.samsiphone.SmokeTest.Login@2d554825]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>15/02/24 13:42:21</td>   <td>191808</td> <td>&nbsp;</td><td title="&gt;&gt;Search.beforeTest()[pri:0, instance:com.samsiphone.SmokeTest.Search@47f6473]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>15/02/24 13:46:03</td>   <td>413862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Search.f()[pri:0, instance:com.samsiphone.SmokeTest.Search@47f6473]">f</td> 
  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>15/02/24 13:46:03</td>   <td>413883</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Checkout.beforeClass()[pri:0, instance:com.samsiphone.SmokeTest.Checkout@6537cf78]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922151033</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>15/02/24 13:46:03</td>   <td>413894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Checkout.logincheckout()[pri:0, instance:com.samsiphone.SmokeTest.Checkout@6537cf78]">logincheckout</td> 
  <td>main@922151033</td>   <td></td> </tr>
</table>
