<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5a99f">  <td>15/03/31 15:19:26</td>   <td>0</td> <td title="&gt;&gt;SmokeTestBase.checkSuiteToRun()[pri:0, instance:com.samsiphone.SmokeTest.HomeScreen@2c677b56]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1701651320</td>   <td></td> </tr>
<tr bgcolor="aa876d">  <td>15/03/31 15:19:27</td>   <td>881</td> <td>&nbsp;</td><td title="&gt;&gt;HomeScreen.before()[pri:0, instance:com.samsiphone.SmokeTest.HomeScreen@2c677b56]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1701651320</td>   <td></td> </tr>
<tr bgcolor="aa876d">  <td>15/03/31 15:20:51</td>   <td>84834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeScreen.NotSigned()[pri:0, instance:com.samsiphone.SmokeTest.HomeScreen@2c677b56]">NotSigned</td> 
  <td>main@1701651320</td>   <td></td> </tr>
<tr bgcolor="aa876d">  <td>15/03/31 15:22:24</td>   <td>177829</td> <td>&nbsp;</td><td title="&lt;&lt;HomeScreen.after()[pri:0, instance:com.samsiphone.SmokeTest.HomeScreen@2c677b56]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1701651320</td>   <td></td> </tr>
</table>
